web/WEB-INF/wsdl/localhost_8080/DownUnderWS/DownUnderWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.downunder/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.downunder/" name="DownUnderWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.downunder/" schemaLocation="http://localhost:8080/DownUnderWS/DownUnderWS?xsd=1"/>
</xsd:schema>
</types>
<message name="encerraPartida">
<part name="parameters" element="tns:encerraPartida"/>
</message>
<message name="encerraPartidaResponse">
<part name="parameters" element="tns:encerraPartidaResponse"/>
</message>
<message name="obtemTabuleiro">
<part name="parameters" element="tns:obtemTabuleiro"/>
</message>
<message name="obtemTabuleiroResponse">
<part name="parameters" element="tns:obtemTabuleiroResponse"/>
</message>
<message name="ehMinhaVez">
<part name="parameters" element="tns:ehMinhaVez"/>
</message>
<message name="ehMinhaVezResponse">
<part name="parameters" element="tns:ehMinhaVezResponse"/>
</message>
<message name="obtemOponente">
<part name="parameters" element="tns:obtemOponente"/>
</message>
<message name="obtemOponenteResponse">
<part name="parameters" element="tns:obtemOponenteResponse"/>
</message>
<message name="temPartida">
<part name="parameters" element="tns:temPartida"/>
</message>
<message name="temPartidaResponse">
<part name="parameters" element="tns:temPartidaResponse"/>
</message>
<message name="registraJogador">
<part name="parameters" element="tns:registraJogador"/>
</message>
<message name="registraJogadorResponse">
<part name="parameters" element="tns:registraJogadorResponse"/>
</message>
<message name="soltaEsfera">
<part name="parameters" element="tns:soltaEsfera"/>
</message>
<message name="soltaEsferaResponse">
<part name="parameters" element="tns:soltaEsferaResponse"/>
</message>
<message name="preRegistro">
<part name="parameters" element="tns:preRegistro"/>
</message>
<message name="preRegistroResponse">
<part name="parameters" element="tns:preRegistroResponse"/>
</message>
<portType name="DownUnderWS">
<operation name="encerraPartida">
<input wsam:Action="http://ws.downunder/DownUnderWS/encerraPartidaRequest" message="tns:encerraPartida"/>
<output wsam:Action="http://ws.downunder/DownUnderWS/encerraPartidaResponse" message="tns:encerraPartidaResponse"/>
</operation>
<operation name="obtemTabuleiro">
<input wsam:Action="http://ws.downunder/DownUnderWS/obtemTabuleiroRequest" message="tns:obtemTabuleiro"/>
<output wsam:Action="http://ws.downunder/DownUnderWS/obtemTabuleiroResponse" message="tns:obtemTabuleiroResponse"/>
</operation>
<operation name="ehMinhaVez">
<input wsam:Action="http://ws.downunder/DownUnderWS/ehMinhaVezRequest" message="tns:ehMinhaVez"/>
<output wsam:Action="http://ws.downunder/DownUnderWS/ehMinhaVezResponse" message="tns:ehMinhaVezResponse"/>
</operation>
<operation name="obtemOponente">
<input wsam:Action="http://ws.downunder/DownUnderWS/obtemOponenteRequest" message="tns:obtemOponente"/>
<output wsam:Action="http://ws.downunder/DownUnderWS/obtemOponenteResponse" message="tns:obtemOponenteResponse"/>
</operation>
<operation name="temPartida">
<input wsam:Action="http://ws.downunder/DownUnderWS/temPartidaRequest" message="tns:temPartida"/>
<output wsam:Action="http://ws.downunder/DownUnderWS/temPartidaResponse" message="tns:temPartidaResponse"/>
</operation>
<operation name="registraJogador">
<input wsam:Action="http://ws.downunder/DownUnderWS/registraJogadorRequest" message="tns:registraJogador"/>
<output wsam:Action="http://ws.downunder/DownUnderWS/registraJogadorResponse" message="tns:registraJogadorResponse"/>
</operation>
<operation name="soltaEsfera">
<input wsam:Action="http://ws.downunder/DownUnderWS/soltaEsferaRequest" message="tns:soltaEsfera"/>
<output wsam:Action="http://ws.downunder/DownUnderWS/soltaEsferaResponse" message="tns:soltaEsferaResponse"/>
</operation>
<operation name="preRegistro">
<input wsam:Action="http://ws.downunder/DownUnderWS/preRegistroRequest" message="tns:preRegistro"/>
<output wsam:Action="http://ws.downunder/DownUnderWS/preRegistroResponse" message="tns:preRegistroResponse"/>
</operation>
</portType>
<binding name="DownUnderWSPortBinding" type="tns:DownUnderWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="encerraPartida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtemTabuleiro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ehMinhaVez">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtemOponente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="temPartida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registraJogador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="soltaEsfera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="preRegistro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DownUnderWS">
<port name="DownUnderWSPort" binding="tns:DownUnderWSPortBinding">
<soap:address location="http://localhost:8080/DownUnderWS/DownUnderWS"/>
</port>
</service>
</definitions>